* {
  padding: 0px;
  margin: 0px;
  font-family: "poppins", sans-serif;
}
:root {
  --text-color: #333;
  --secondary-color: #ffffff;
  --primary-color: #444aca;
  /* --secondary-color: #894a00; */
}
