* {
  padding: 0px;
  margin: 0px;
  font-family: "poppins", sans-serif;
}
:root {
  --text-color: #000000;
  --secondary-color: #ffffff;
  --primary-color: #444aca;
  /* --secondary-color: #894a00; */
  --bg-color: darkblue;
  --font-color: #ffffff;
  --black: black;
  --brown: rgb(146, 143, 143);
}
