.container {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  gap: 8rem;
  margin-top: 2rem;
}

.cards_container {
  margin-top: 0.5rem;
}

.cards {
  display: grid;
  grid-template-columns: 1.6fr 0.4fr;
}

.cards_right {
  padding: 2rem;
  display: flex;
}

.cards_right_button {
  border-radius: 0.3rem;
  background: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  padding: 0 2rem; 
  transition: 0.5s ease;
}

.cards_right_button:hover {
  background: transparent;
  color: var(--text-color);
  border: 1px solid var(--primary-color);
  transition: 0.5s ease;
}

.cards_right_hides {
  display: none;
  margin-top: 1rem;
  font-size: 2rem;
}

.link_text {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.3rem;
  font-weight: bold;
}

.link_text:hover {
  color: var(--primary-color);
}

.infos {
  display: flex;
}

.icons {
  margin-top: 1rem;
  font-size: 1rem;
}

.sub_texts {
  margin-top: 0.7rem;
  font-size: 1rem;
  font-weight: 400;
  margin-left: 8px;
}

@media screen and (max-width: 1200px) {
  .cards_right_button {
    margin: 0.5rem 0.2rem;
  }
}

@media screen and (max-width: 990px) {
  .container {
    grid-template-columns: 1fr;
    margin-bottom: 2rem;
  }

  .container_left {
    margin-bottom: -10rem;
  }
}

@media screen and (max-width: 768px) {
  .cards_right {
    display: none;
  }

  .cards_right_hides {
    display: inline;
    outline: none;
    border: 0px;
  }
}

.pageButton {
  display: inline-block;
  padding: 8px 16px;
  background-color: var(--brown);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 2rem 0.2rem;
}

.pageButton:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.active {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
